body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: -moz-repeating-radial-gradient();
}
nan {
  position: relative;
  margin: 280px auto 0;
  width: auto;
  height: max-content;
  background: fixed;
}
