*
{
box-sizing: border-box;
margin: 0%;
padding: 0%;

}
body{
    background: url(https://images.squarespace-cdn.com/content/v1/5c24c91d5b409bf66a92d07d/1586751857550-LBQR9QD1ISCUNQ7U1AD2/IMG_3339.JPG?format=2500w);

    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
   }

   .slider-container
   {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

   }
   .left-side
   {
    height: 100;
    width: 40%;
    position:absolute;
    top: 0;
    left: 0;

   }

   .left-side > div 
   {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
   }

   .left-side h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -25px;


   }

   .right-slide 
   {
    height: 100%;
    position: absolute;
    top: 0%;
    left: 35%;
    width: 65%;

   }

